<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common">
    <select id="connection" parameterType="map" resultType="java.util.LinkedHashMap">
        select * from emp
    </select>

    <insert id="addMember" parameterType="map">
        INSERT INTO MEMBER(MEM_EMAIL,MEM_PW,MEM_NAME,MEM_TEL,MEM_BIRTHDAY, MEM_LEVEL) 
        VALUES(#{MEM_EMAIL},#{MEM_PW},#{MEM_NAME},#{MEM_TEL},#{MEM_BIRTHDAY}, "Normal")
    </insert>

    <select id="loginMember" parameterType="map" resultType="java.util.LinkedHashMap">
        SELECT * FROM MEMBER WHERE MEM_EMAIL = #{MEM_EMAIL} AND MEM_PW = #{MEM_PW}
    </select>

    <select id="noticeMain" parameterType="map" resultType="java.util.LinkedHashMap"> 
        SELECT DATE_FORMAT(NOTICE_DATE, '%Y-%m-%d') as NOTICE_DATE, NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_CATEGORI FROM NOTICE ORDER BY NOTICE_NO DESC
    </select>

    <insert id="noticeAdd" parameterType="map" useGeneratedKeys="true" keyProperty="NOTICE_NO">
        INSERT INTO NOTICE(NOTICE_TITLE, NOTICE_CONTENT, NOTICE_CATEGORI, NOTICE_WRITER, NOTICE_DATE) 
        VALUES(#{NOTICE_TITLE}, #{NOTICE_CONTENT}, #{NOTICE_CATEGORI}, "관리자", curdate())
    </insert>
    
</mapper>

