<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common">
    <select id="connection" parameterType="map" resultType="java.util.LinkedHashMap">
        select * from emp
    </select>

    <insert id="addMember" parameterType="map">
        INSERT INTO MEMBER(MEM_EMAIL,MEM_PW,MEM_NAME,MEM_TEL,MEM_BIRTHDAY) 
        VALUES(#{MEM_EMAIL},#{MEM_PW},#{MEM_NAME},#{MEM_TEL},#{MEM_BIRTHDAY})
    </insert>

    <select id="loginMember" parameterType="map" resultType="java.util.LinkedHashMap">
        SELECT * FROM MEMBER WHERE MEM_EMAIL = #{MEM_EMAIL} AND MEM_PW = #{MEM_PW}
    </select>
    
</mapper>

