.container {
	margin: 0 auto;
	max-width: 100%;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

header {
	height: 650px;
}

header>.block {
	width: 100%;
	min-width: 1280px;
	height: 650px;
	position: absolute;
	background-color: #000;
	opacity: .5;
	top: 0;
	left: 0;
	z-index: -1;
}

header>img {
	width: 100%;
	min-width: 1280px;
	height: 650px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}

header>nav {
	width: 100%;
	min-width: 1280px;
	height: 100px;
	color: #fff;
	border-bottom: 1px solid #efefef;
	line-height: 100px;
}

header>nav>span {
	font-size: 20px;
	font-weight: 500;
	margin-left: 100px;
}

header>nav>ul {
	float: right;
	margin-right: 100px;
}

header>nav>ul>li {
	float: left;
	margin-left: 30px;
	font-size: 15px;
}

header>.main-letter {
	color: #fff;
	margin: 0 auto;
	width: 100%;
	min-width: 1280px;
	height: 550px;
}

header>.main-letter>h1 {
	text-align: center;
	font-size: 30px;
	padding-top: 130px;
}

header>.main-letter>h4 {
	text-align: center;
	padding-top: 60px;
	font-weight: 100;
	line-height: 20px;
}

.youtube-slide {
	margin: 70px 0 100px 0;
	width: 100%;
	min-width: 1280px;
	height: 350px;
}

.youtube-slide>.sliders {
	margin: 0 auto;
	text-align: center;
	width: 90%;
	min-width: 1000px;
	height: 350px;
}

.youtube-slide>.sliders>h2 {
	text-align: left;
	margin: 0 0 30px 15px;
	font-size: 20px;
}

.youtube-slide>.sliders div {
	height: 300px;
}

.youtube-slide>.sliders img {
	width: 90%;
	height: 150px;
	margin: 0 auto;
}

.youtube-slide>.sliders h5 {
	text-align: left;
	font-size: 15px;
	font-weight: lighter;
	margin: 20px 0 20px 15px;
	line-height: 20px;
}

.youtube-slide>.sliders h6 {
	text-align: left;
	font-size: 12px;
	font-weight: lighter;
	margin: 10px 0 0 15px;
	color: #777;
}

.youtube-slide>.sliders .slick-prev:before, .slick-next:before {
	color: black;
}

footer {
	width: 100%;
	min-width: 1280px;
	border-top:1px solid #ddd;
    padding: 40px 0;
    text-align: center;
    color: #777;
    font-size: 13px;
    font-weight:100;
}